<footer>


  <div class="row align-center footer__partners">
    <div class="shrink columns">
      <ul class="menu align-center text-center">
        <li><a href="https://www.kerastase.com/" target="_blank"><svg class="icon icon-kerastase"><use xlink:href="/assets/icons/symbol-defs.svg#icon-kerastase"></use></svg></a></li>
        <li><a href="http://redken.com.mx/" target="_blank"><svg class="icon icon-redken"><use xlink:href="/assets/icons/symbol-defs.svg#icon-redken"></use></svg></a></li>
        <li><a href="https://www.loreal-paris.com.mx/" target="_blank"><svg class="icon icon-loreal"><use xlink:href="/assets/icons/symbol-defs.svg#icon-loreal"></use></svg></a></li>
        <li><a href="https://www.moroccanoil.com/es/" target="_blank"><svg class="icon icon-moroccanoil"><use xlink:href="/assets/icons/symbol-defs.svg#icon-moroccanoil"></use></svg></a></li>
      </ul>
    </div>
  </div>

  <div class="row align-center footer__form">
    <div class="small-12 medium-6 columns">
      <form action="" method="post" target="_blank" novalidate="">

      <div class="input-group">
        <input class="input-group-field" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Suscribete a nuestro newsletter">

        <div class="input-group-button align-stretch">
        <input type="submit" class="button align-stretch" value="Enviar">
        </div>
      </div>

      </form>
    </div>
  </div>

  <div class="row align-center footer__socials">
    <div class="shrink columns">
      <ul class="menu footer__link">
        <li><a href="{{site.social.facebook}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        <li><a href="{{site.social.instagram}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        <li><a href="{{site.social.twitter}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      </ul>
    </div>
  </div>

  <div class="row show-for-medium">
    <div class="columns text-center footer__credit">
      <a href="https://www.instagram.com/4sonic/" target="_blank">Diseño y desarrollo web — 4sonic</a><br>
    </div>
  </div>

  <div class="row align-center">
    <div class="columns text-center footer__credit">
      <small>© {{'now' | date: "%Y"}} {{site.company}} – Todos los derechos reservados</small><br>
      <a href="/info"><small>Aviso de Privacidad</small></a><br>
    </div>
  </div>

</footer>
