<li>
<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.insideretail.com&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
<svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg>
</a>
</li>

<li>
<a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.insideretail.com&text=:%20http%3A%2F%2Fwww.insideretail.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
<svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg>
</a>
</li>

<li>
<a href="" target="_blank" title="Share on Instagram" onclick="window.open('https://instagram.com/share?url=' + encodeURIComponent(document.URL)); return false;"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a>
</li>
