---
layout: default
---

<!-- Intro -->
<section class="contact">
    <div class="row align-center">
      <div class="small-10 small-offset-1 medium-8 medium-offset-0 large-6 columns">
        <form name="contact" method="POST" netlify>
          <h1>Contacto</h1>
          <p>
            <label>Nombre: <input type="text" name="name" /></label>
          </p>
          <p>
            <label>Email: <input type="email" name="email" /></label>
          </p>
          <p>
            <label>Tu mensaje: <textarea name="message"></textarea></label>
          </p>
          <p>
            <button class="large button"type="submit">Enviar</button>
          </p>
        </form>
      </div>
    </div>
</section>
<!-- End Intro -->
