---
layout: default
---

<section class="servicios">

  <div class="row align-middle">
    <div class="small-12 medium-7 medium-order-1 columns">
      <img data-interchange="[/uploads/staff.jpg, small], [/uploads/staff.jpg, medium], [/uploads/staff.jpg, large]">
    </div>
    <div class="card small-12 medium-5 medium-order-2 column text-center">
      <div class="card-section">
        <h3>Nuestro staff!!</h3>
        <p>En Bisuza Salón trabajamos por y para ti, para conseguir los mejores resultados en tu cabello y estilismo y conseguir clientes satisfechos.</p>
      </div>
    </div>
  </div>
  <div class="row align-middle">
    <div class="small-12 medium-5 medium-order-2 columns">
      <img data-interchange="[/uploads/vanguardia.jpg, small], [/uploads/vanguardia_large.jpg, medium], [/uploads/vanguardia_large.jpg, large]">
    </div>
    <div class="card small-12 medium-7 medium-order-1 column text-center">
      <div class="card-section">
        <h3>Vanguardia</h3>
        <p>Nos mantenemos siempre a la vanguardia con las tendencias más actuales en colorimetría, maquillaje, peinados, uñas y tratamientos de prestigiosas marcas. </p>
      </div>
    </div>
  </div>
  <div class="especial row align-middle">
    <div class="small-12 medium-7 columns">
      <img src="/uploads/zayra.jpg" alt="">
    </div>
    <div class="person card small-12 medium-5 column align-center">
      <div class="card-section text-center" >
        <h3>Zayra</h3>
        <p>Emprendedora y empresaria, experta en el mundo de la belleza. Zayra ademas de ser socio fundador de Bisuza Salón, y gestionar la parte administrativa se especializa en colorimetria, cortes y peinados.</p>
      </div>
    </div>
  </div>
  <div class="row align-middle">
    <div class="small-12 medium-5 medium-order-2 columns">
      <img data-interchange="[/uploads/personalidad.jpg, small], [/uploads/personalidad_large.jpg, medium], [/uploads/personalidad_large.jpg, large]">
    </div>
    <div class="card small-12 medium-7 medium-order-1 column text-center">
      <div class="card-section">
        <h3>Personalidad</h3>
        <p>Creamos estilos adecuados a la personalidad de nuestras clientas cuidando de su belleza con los mejores productos y le brindamos la asesoría que necesita para hacer su mejor elección.</p>
      </div>
    </div>
  </div>
  <div class="especial row align-middle">
    <div class="small-12 medium-7 columns">
      <img src="/uploads/sandra.jpg" alt="">
    </div>
    <div class="person card small-12 medium-5 column align-center">
      <div class="card-section text-center" >
        <h3>Sandra</h3>
        <p>Sandra inició su aprendizaje como estilista en la Academia de Patrice, donde realizó prácticas profesionales y fue invitada a trabajar en algunos salones de belleza hasta que junto a su prima Zayra decidieron abrir Bissou en la Calle Garibaldi 2693 hace 11 años.</p>
      </div>
    </div>
  </div>
  <div class="row align-middle">
    <div class="small-12 medium-5 medium-order-2 columns">
      <img data-interchange="[/uploads/sandra_small.jpg, small], [/uploads/sandra_large.jpg, medium], [/uploads/sandra_large.jpg, large]">
    </div>
    <div class="card small-12 medium-7 medium-order-1 column text-center">
      <div class="card-section">
        <p>A partir de ahí ha evolucionado su profesión y talento pues ha sabido renovarse constantemente como una visionaria con técnicas innovadoras y pasión por la belleza.</p>
      </div>
    </div>
  </div>

</section>
